{% extends 'base.html.twig' %}

{% block title %}Créer mon compte
{% endblock %}

{% block body %}
<div class="container mt-3">
	{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="wrapper fadeInDown wrapper-login">
		<div id="formContent">
			<h1 class="block-title">Créer son compte</h1>
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.lastname, {
			"attr": {"class": "fadeIn second"}
			})}}
			{{ form_row(registrationForm.firstname, {
			"attr": {"class": "fadeIn third"}
			})}}
			{{ form_row(registrationForm.email, {
			"attr": {"class": "fadeIn second"}
			})}}
			{{ form_row(registrationForm.plainPassword, {
			"attr": {"class": "fadeIn third"}
			})}}
			{{ form_row(registrationForm.address, {
				"attr": {"class": "fadeIn second"}
			})}}
			{{ form_row(registrationForm.agreeTerms) }}
			<button class="btn btn-lg bg-dark text-light mb-3 fadeIn fourth" type="submit">{{
				button_label|default('Créer mon compte') }}</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>
{% endblock %}